name: CI

on:
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: "yarn"
          cache-dependency-path: server

      - name: Install dependencies
        run: cd ./server && yarn

  lint:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
        
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: "yarn"
          cache-dependency-path: server
          
      - name: Install dependencies
        run: cd ./server && yarn
          
      - name: linting
        run: cd ./server && yarn lint

  test:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout
        uses: actions/checkout@v3.3.0
        
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: "yarn"
          cache-dependency-path: server
          
      - name: Install dependencies
        run: cd ./server && yarn
          
      - name: Run test
        run: cd ./server && yarn coverage

      - name: Vitest Coverage Report
        uses: davelosert/vitest-coverage-report-action@v1.3.1
        with:
          vite-config-path: ./vite.config.js
          # json-summary-path: ./coverage/coverage-summary.json
          json-final-path: ./coverage/coverage-final.json
          working-directory: ./server
